*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body, html {
    font-family: sans-serif;
}


table, td, th {
    border: 2px solid black;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    text-align: center;
    padding: 5px;
}

/* Padding */
.p {
    padding: 0.5rem;
}
.p-1 {
    padding: 1rem;
}
.p-2 {
    padding: 2rem;
}
.p-3 {
  padding: 3rem;
  }
  .py {
    padding: 0.5rem 0;
  }
  .py-1 {
    padding: 1rem 0;
  }
  .py-2 {
    padding: 2rem 0;
  }
  .py-3 {
    padding: 3rem 0;
  }
  
  /* Margin */
  .m {
    margin: 0.5rem;
  }
  .m-1 {
    margin: 1rem;
  }
  .m-2 {
    margin: 2rem;
  }
  .m-3 {
    margin: 3rem;
  }
  .my {
    margin: 0.5rem 0;
  }
  .my-1 {
    margin: 1rem 0;
  }
  .my-2 {
    margin: 2rem 0;
  }
  .my-3 {
    margin: 3rem 0;
  }

  .ml {
    margin-left: 0.5rem ;
  }
  .ml-1 {
    margin-left: 1rem ;
  }
  .ml-2 {
    margin-left: 2rem ;
  }
  .ml-3 {
    margin-left: 3rem ;
  }
  .ml-auto{
    margin-left: 15rem;
  }

  .inline-block{
      display: inline-block;
  }

.form {
    margin-top: 20px;
}

.form-container{
    max-width: 65%;
    margin: auto;
    padding: 0 2rem;
}

.inputs{
   width:100%;
    display:flex;
    justify-content: center;
}



.container{
    max-width: 65%;
    margin:0 auto;
    padding: 0 2rem;
}
.container h1{
    text-align: center;
    margin: 1rem 0;
}

.form-group{
    margin:1.2rem 0
}

.form-group input{
    display: block;
    width: 100%;
    padding: 0.4rem;
    border: solid 1px #ccc;
    border-radius: 0.25rem;
    font-size: 1rem;
}
label {
    display: inline-block;
    margin-bottom: .5rem;
}

.btn{
    display: inline-block;
    border: none;
    border-radius: 0.25rem;
    padding: 0.3rem 1.1rem;
    color: #333;
    font-size: inherit;
    cursor: pointer;
    transition: opacity 0.2s ease-in;
}
.btn-dark{
    background: #333;
    color: #fff;
}

.btn-blue{
  background: #1877f2;
  color: #fff;
}

.btn:hover{
    opacity: 0.8;
}

.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.7rem 2rem;
    background-color: #333;
    color: #fff;
}
.navbar ul{
    display: flex;
}
.navbar a {
    color: rgb(192, 192, 192);
    padding: 0.45rem;
    margin: 0 0.25rem;
}

.navbar a:hover {
    color: #ffffff;
}

.alert{
    padding: .75rem 1.25rem;
    margin: 1rem;
    border:1px solid transparent;
    border-radius: .25rem;
    text-align: center;
}

.alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
}

/* Content */
.content{
  display: flex;
}

.friends{
  background-color: #ccc;
  width: 20%;
  height: 100vh;
}

.friends h2{
  text-align: center;
  margin: 1rem 0;
}

.tasks{
  flex-grow: 1;
}

/* User card */
.card{
  background-color: #ccc;
  display: flex;
  padding: .75rem 1.25rem;
  margin: 1rem;
  border:1px solid transparent;
  border-radius: .25rem;
}
.card-body{
  flex-grow: 1;
}
.lead{
  color:#1877f2
}

a.disabled {
  background-color: #4f4f4f;
  pointer-events: none;
  cursor: default;
}

.friends-container{
  font-size: 0.9rem;
}

.bg-white{
  background-color: #fff;
}

