<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename ='css/main.css' ) }}"
    />
    <script src="{{ url_for('static', filename='js/app.js')}}" defer></script>
    {% block head %}{% endblock %}
  </head>
  <body>
    <nav class="navbar">
      <div class="navbar-brand">
        <h1 class="navbar-item">
          <span class="has-text-white"> TASK FLASK {%if g.username %} |</span>
          <span class="lead">{{ g.username }}</span> {% endif%}
        </h1>
        <button
          class="navbar-burger has-text-white"
          aria-label="menu"
          aria-expanded="false"
          data-target="navbar-toggler"
        >
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </button>
      </div>

      <div id="navbar-toggler" class="navbar-menu">
        <ul class="navbar-end has-background-dark">
          {% if g.user_id %}
          <li class="navbar-item">
            <a class="has-text-white" href="{{ url_for('index') }}">Home</a>
          </li>
          <li class="navbar-item">
            <a class="has-text-white" href="{{ url_for('users') }}"
              >All Users</a
            >
          </li>
          <li class="navbar-item">
            <a class="has-text-white" href="{{ url_for('logout') }}">Logout</a>
          </li>

          {% else %}
          <li class="navbar-item">
            <a class="has-text-white" href="{{ url_for('register') }}"
              >Register</a
            >
          </li>
          <li class="navbar-item">
            <a class="has-text-white" href="{{ url_for('login') }}">Login</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </nav>

    {% block body %}{% endblock %}
  </body>
</html>
