{% extends 'base.html' %}

{% block head %}
<title>Todo Task Manager</title>
{% endblock %}

{% block body %}
<div class="container">
  {% if message %}
  <div class="alert alert-{{ status }}" >
    <p>{{ message }}</p>
  </div>
  {% endif %}
  <h1>{{ title }}</h1>
  <div class="form form-container">
    <form action="{{ url_for('login') }}" method="POST">
      <div class="form-group">
        <label for="fname">Email</label>
        <input type="email" name="email">
      </div>
      <div class="form-group">
        <label for="fname">Password</label>
        <input type="password" name="password">
      </div>
    <input type="submit" value="Sign In" class="btn btn-dark">
    <small class="ml-auto inline-block">
      Need an account?
      <a href="{{ url_for('login') }}">Sign up now!</a>
    </small>
    </form>
  </div>
</div>
{% endblock%}